
VITE_API_URI='https://backend.datamore.io:3000/api/'
VITE_API_SOCKET_URI='https://backend.datamore.io:3000/'

VITE_CPU_THRESHOLD=80
VITE_RAM_THRESHOLD=80
VITE_NIC_THRESHOLD=90

VITE_FILTER_DEBOUNCE_TIME=400

VITE_UI_BLINKING_TIMEOUT=5000

VITE_UI_CONNECTION_TIMEOUT=1000

VITE_IDLE_TIMEOUT=1800000

VITE_EXPORT_RECORDS_LIMIT=10000